{% extends "base.html" %}
{% block title %} Log in {% endblock %}
{% block body %}
   <div class="container">
    <div class="col-sm-offset-4">
      
      <div class="jumbotron" style="width: 50%;">
          {% if resp in resp%}
          <div class="alert alert-success" role="alert" id="reg-alert">
            {{ resp }}
        </div>
          {%endif%}
        
        <form action="/login" method="post" >
          <h2 >Log in</h2>
          <div class="row">
            <div class="form-group ">
              <label>Enter Email address</label>
              <label for="inputEmail" class="sr-only">Email address</label>

              <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
            </div>
          </div>
          <div class="row">
            <div class="form-group ">
              <label>Enter Password</label>
              <label for="password" class="sr-only">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group ">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
             

            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
{% endblock %}   