<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  
  <link rel="stylesheet" type="text/css" href="./static/style.css"> 
  <link rel="stylesheet" type="text/css" href="./static/bootstrap/css/bootstrap.css">
  
</head>
<body class="bodyimg">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        
      </div>
      <ul class="nav navbar-nav pull-right">
        
        <li><a href="/">Log out</a></li>
       
      </ul>
    </div>
  </nav>
<!-- 
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class background-color: #337ab7="panel panel-success">
          <div class="panel-heading heading custom"> 
            <div class panel title> <center>Recipe Categories</center> <h4> -->
              
              <div class="container">
                <div class="col-sm-offset-2">
                  <div class="jumbotron" style=" width: 70%;">

                   
                    <div class="panel-body">
                      <h4> <p align=center>
                        Yummy Recipes
                      </p>
                    </h4>
                    <button class=" btn btn-primary" style="float: right;"><div  class="glyphicon glyphicon-plus"> Add new</button></div>
                    <div>          
                      <table class="table table-bordered" style="margin-top: 20px;  "> 
                       <tr>
                         <th>Name</th>
                         <th> View </th>
                         <th>Edit</th>
                         <th> Delete </th>
                       </tr>
                       <tr>
                         <td>1. Pastry</td>
                         <td><div class="glyphicon glyphicon-eye-open"></div></td>
                         <td><div class="glyphicon glyphicon-pencil"></div></td>
                         <td><div class="glyphicon glyphicon-remove"></div></td>
                       </tr>
                       <tr>
                         <td>2. Stews</td>
                         <td><div class="glyphicon glyphicon-eye-open"></div></td>
                         <td><div class="glyphicon glyphicon-pencil"></div></td>
                         <td><div class="glyphicon glyphicon-remove"></div></td>
                       </tr>


                       
                     </table>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </button>
     </div>
   </h4>
 </div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>